*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box; }

body {
  margin: 0;
  font-weight: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  font-size: 1rem; }

footer,
header,
main,
menu,
nav,
section {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

.hidden {
  display: none; }

.row {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 2/16rem;
  position: relative;
  width: 100%; }

.show-for-small {
  display: block; }
  @media screen and (min-width: 600px) {
    .show-for-small {
      display: none; } }

.show-for-medium {
  display: none; }
  @media screen and (min-width: 600px) {
    .show-for-medium {
      display: block; } }

.show-for-large {
  display: none; }
  @media screen and (min-width: 900px) {
    .show-for-large {
      display: block; } }

.show-for-xlarge {
  display: none; }
  @media screen and (min-width: 1200px) {
    .show-for-xlarge {
      display: block; } }

.show-for-xxlarge {
  display: none; }
  @media screen and (min-width: 1600px) {
    .show-for-xxlarge {
      display: block; } }

.column-small-1 {
  flex: 0 0 auto;
  width: 8.33333%;
  min-width: 0; }

.column-small-2 {
  flex: 0 0 auto;
  width: 16.66667%;
  min-width: 0; }

.column-small-3 {
  flex: 0 0 auto;
  width: 25%;
  min-width: 0; }

.column-small-4 {
  flex: 0 0 auto;
  width: 33.33333%;
  min-width: 0; }

.column-small-5 {
  flex: 0 0 auto;
  width: 41.66667%;
  min-width: 0; }

.column-small-6 {
  flex: 0 0 auto;
  width: 50%;
  min-width: 0; }

.column-small-7 {
  flex: 0 0 auto;
  width: 58.33333%;
  min-width: 0; }

.column-small-8 {
  flex: 0 0 auto;
  width: 66.66667%;
  min-width: 0; }

.column-small-9 {
  flex: 0 0 auto;
  width: 75%;
  min-width: 0; }

.column-small-10 {
  flex: 0 0 auto;
  width: 83.33333%;
  min-width: 0; }

.column-small-11 {
  flex: 0 0 auto;
  width: 91.66667%;
  min-width: 0; }

.column-small-12 {
  flex: 0 0 auto;
  width: 100%;
  min-width: 0; }

@media screen and (min-width: 600px) {
  .column-medium-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-3 {
    flex: 0 0 auto;
    width: 25%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-6 {
    flex: 0 0 auto;
    width: 50%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-9 {
    flex: 0 0 auto;
    width: 75%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-12 {
    flex: 0 0 auto;
    width: 100%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-3 {
    flex: 0 0 auto;
    width: 25%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-6 {
    flex: 0 0 auto;
    width: 50%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-9 {
    flex: 0 0 auto;
    width: 75%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-12 {
    flex: 0 0 auto;
    width: 100%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-3 {
    flex: 0 0 auto;
    width: 25%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-6 {
    flex: 0 0 auto;
    width: 50%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-9 {
    flex: 0 0 auto;
    width: 75%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-12 {
    flex: 0 0 auto;
    width: 100%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-3 {
    flex: 0 0 auto;
    width: 25%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-6 {
    flex: 0 0 auto;
    width: 50%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-9 {
    flex: 0 0 auto;
    width: 75%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-12 {
    flex: 0 0 auto;
    width: 100%;
    min-width: 0; } }
