.contact {
    background: $grey-900;
    margin-top: rem-calc(-60);
    padding-top: rem-calc(120);
    padding-bottom: rem-calc(72);
}

.contact-form {
    margin-top: 0;
    margin-bottom: rem-calc(30);

    .form-field {
        position: relative;

        .input-field {
            margin-bottom: 0;
            border: 0;
            border-bottom: 1px solid rgba($white, 0.1);
            padding: rem-calc(40 10 10 10);
            width: 100%;
            color: rgba($white, 0.7);

            &:focus {
                border-color: $accent-1;
                color: $white;
            }

            &.message {
                margin-bottom: 0;
                border: 0;
                border-bottom: 1px solid rgba($white, 0.1);
                padding: rem-calc(40 10 10 10);
                width: 100%;
                min-height: rem-calc(200);
                color: rgba($white, 0.7);

                &:focus {
                    border-color: $accent-1;
                    color: $white;
                }
            }

            &:focus,
            &.not-empty {
                + .label {
                    transform: translateY(-30px);
                    left: 0;
                    text-transform: uppercase;
                    font-size: rem-calc(12);
                    font-weight: 400;
                    color: $accent-1;

                    @include breakpoint(large){
                        transform: translateY(-25px);
                    }
                }
                + .message-label {
                    @include breakpoint(large) {
                        transform: translateY(-20px);
                    }
                }
            }
        }

        .label {
            position: absolute;
            font-weight: 300;
            font-family: 'Montserrat', Sans-Serif;
            font-size: rem-calc(14);
            cursor: text;
            transition: transform .2s ease-in-out;
            width: 100%;
            color: $grey-300;
            top: rem-calc(30);
            padding-left: rem-calc(10);
        }
    }
}

.submitform {
    display: block;
    margin-top: rem-calc(48);
    background: $accent-1;
    padding: rem-calc(0 30);
    width: 100%;
    height: rem-calc(66);
    line-height: rem-calc(66);
    letter-spacing: rem-calc(2);
    color: $white;
    font-size: rem-calc(15);

    &:hover,
    &:focus {
        background: $accent-1;
    }
}

#message-warning,
#message-success {
    display: none;
    margin-bottom: rem-calc(36);
    border-radius: 3px;
    background: $grey-900;
    padding: rem-calc(30);
    width: 100%;
}

#message-warning {
    color: $warning;
}

#message-success {
    color: $accent-1;
}

#message-warning i,
#message-success i {
    margin-right: 10px;
}

#submit-loader {
    display: none;
    position: relative;
    top: rem-calc(18);
    left: 0;
    width: 100%;
    text-align: center;
}

#submit-loader .text-loader {
    display: none;
    text-transform: uppercase;
    letter-spacing: rem-calc(3);
    color: $white;
    font-family: 'Montserrat', sans-serif;
}

.oldie #submit-loader .s-loader {
    display: none;
}

.oldie #submit-loader .text-loader {
    display: block;
}

.contact-info {
    margin: rem-calc(48) auto rem-calc(0);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: rem-calc(15);
}

.contact-info .collapse {
    padding: 0;
}

.contact-info .icon {
    margin-bottom: rem-calc(21);
}

.contact-info .icon i {
    color: $white;
    font-size: rem-calc(42);
}

.contact-info h5 {
    color: $accent-1;
}
