.home {
  width: 100%;
  height: 100%;
  background-color: $black;
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  background-attachment: fixed;
  min-height: 804px;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    background-color: $black;
  }
}

.home-content-table {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  text-align: center;
}

.home-content-tablecell {
  display: table-cell;
  vertical-align: middle;
  z-index: 500;

  .row {
    position: relative;
    padding-top: rem-calc(162);
    padding-bottom: rem-calc(150);
  }

  h3 {
    font-family: "montserrat-bold", sans-serif;
    font-size: rem-calc(22);
    color: $white;
    text-transform: uppercase;
    letter-spacing: rem-calc(3);
    margin: rem-calc(0 0 9 0);
  }

  h1 {
    font-family: "montserrat-bold", serif;
    font-size: rem-calc(90);
    line-height: 1.133;
    color: $white;
  }

  .more {
    margin: rem-calc(48 0 0 0);

    .button {
      border-color: $white;
      color: $white;
    }
  }
}

.home-social-list {
  position: absolute;
  left: 48px;
  bottom: 54px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: rem-calc(24);
  line-height: 1.75;
  text-align: center;

  &::before {
    display: block;
    content: "";
    width: 2px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem-calc(12);
  }

  li {
    padding-left: 0;

    a {
      color: $white;

      &:visited {
        color: $white;
      }

      &:hover,
      &:focus,
      &:active {
        color: $black;
      }
    }
  }
}

.scrolldown {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(90deg);
  transform-origin: right top 0;
  float: right;

  i {
    padding-left: rem-calc(9);
  }

  a {
    &:hover,
    &:focus,
    &:active {
      color: $black !important;
    }
  }
}

.scroll-icon {
  display: inline-block;
  font-family: "montserrat-bold", sans-serif;
  font-size: rem-calc(14);
  text-transform: uppercase;
  letter-spacing: rem-calc(3);
  color: $white !important;
  background: transparent;
  position: relative;
  top: 36px;
  right: 42px;
  animation: animate-it 3s ease infinite;
}

/* vertical animation */
@-webkit-keyframes animate-it {
  0%, 60%, 80%, 100% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
}
@keyframes animate-it {
  0%, 60%, 80%, 100% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
}

/* -------------------------------------------------------------------
 * responsive:
 * home section
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
  .home-content-tablecell h3 {
    font-size: rem-calc(21);
  }
  .home-content-tablecell h1 {
    font-size: rem-calc(71);
  }
}
@media only screen and (max-width: 1024px) {
  .home-content-tablecell h3 {
    font-size: rem-calc(20);
  }
  .home-content-tablecell h1 {
    font-size: rem-calc(60);
  }
}
@media only screen and (max-width: 768px) {
  .home-content-tablecell .row {
    max-width: 600px;
  }
  .home-content-tablecell h3 {
    font-size: rem-calc(18);
  }
  .home-content-tablecell h1 {
    font-size: rem-calc(52);
  }
  .home-content-tablecell h1 br {
    display: none;
  }

  .home-social-list {
    left: 36px;
    bottom: 30px;
    font-size: rem-calc(21);

    &::before {
      height: 30px;
    }
  }

  .scrolldown .scroll-icon {
    font-size: rem-calc(12);
    top: 24px;
    right: 10px;
  }
}
@media only screen and (max-width: 600px) {
  #home {
    min-height: 702px;
  }

  .home-content-tablecell .row {
    max-width: 480px;
    padding-top: rem-calc(12);
    padding-bottom: rem-calc(12);
  }
  .home-content-tablecell h3 {
    font-size: rem-calc(17);
  }
  .home-content-tablecell h1 {
    font-size: rem-calc(48);
  }
}
@media only screen and (max-width: 500px) {
  .home-content-tablecell .row {
    max-width: 420px;
  }
  .home-content-tablecell h3 {
    font-size: rem-calc(15);
  }
  .home-content-tablecell h1 {
    font-size: rem-calc(42);
  }

  .home-social-list {
    left: 30px;
    bottom: 30px;
    font-size: rem-calc(18);
  }
  .home-social-list::before {
    height: 24px;
  }
}
@media only screen and (max-width: 400px) {
  #home {
    min-height: 654px;
  }

  .home-content-tablecell .row {
    padding-top: rem-calc(48);
    padding-bottom: rem-calc(108);
  }
  .home-content-tablecell h3 {
    font-size: rem-calc(14);
  }
  .home-content-tablecell h1 {
    font-size: rem-calc(36);
  }
}
