.home {
    position: relative;
    background-attachment: fixed;
    background-color: $grey-900;
    background-image: url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.home-content {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.home-content-inner {
    .home-content-top {
        margin: rem-calc(0 0 10 0);
        text-transform: uppercase;
        letter-spacing: rem-calc(3);
        color: $white;
        font-family: 'Montserrat', sans-serif;
        font-size: rem-calc(22);
        font-weight: 700;
    }

    .home-content-title {
        margin: rem-calc(30 0 100 0);
        line-height: 1.133;
        color: $white;
        font-family: 'Montserrat', sans-Serif;
        font-size: rem-calc(90);
        font-weight: bold;
    }

    .more {
        margin: rem-calc(48 0 0 0);

        .button {
            border-color: $white;
            color: $white;
        }
    }
}

.home-social-list {
    position: absolute;
    bottom: 54px;
    left: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    line-height: 1.75;
    font-size: rem-calc(24);

    &::before {
        display: block;
        margin-right: auto;
        margin-bottom: rem-calc(12);
        margin-left: auto;
        background-color: rgba($white, 0.3);
        width: 2px;
        height: 42px;
        content: '';
    }

    li {
        margin-bottom: rem-calc(8);
        padding-left: 0;

        a {
            transition: 0.2s ease-in-out;
            color: $white;

            &:visited {
                color: $white;
            }

            &:hover,
            &:focus,
            &:active {
                color: $accent-1;
            }

            i {
                font-size: rem-calc(24);
            }
        }
    }
}

.scrolldown {
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
    transform: rotate(90deg);
    transform-origin: right top 0;

    i {
        padding-left: rem-calc(9);
    }

    a {
        &:hover,
        &:focus,
        &:active {
            color: $accent-1;
        }
    }
}

.scroll-icon {
    display: inline-block;
    position: relative;
    top: 36px;
    right: 42px;
    transition: 0.2s ease-in-out;
    animation: animate-it 3s ease infinite;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: rem-calc(3);
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-size: rem-calc(14);
    font-weight: 700;
}

@-webkit-keyframes animate-it {
    0%,
    60%,
    80%,
    100% {
        -webkit-transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(-5px);
    }

    40% {
        -webkit-transform: translateX(20px);
    }
}

@keyframes animate-it {
    0%,
    60%,
    80%,
    100% {
        -webkit-transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(-5px);
    }

    40% {
        -webkit-transform: translateX(20px);
    }
}

@media only screen and (max-width: 1200px) {
    .home-contentcell h3 {
        font-size: rem-calc(21);
    }

    .home-contentcell h1 {
        font-size: rem-calc(71);
    }
}

@media only screen and (max-width: 1024px) {
    .home-contentcell h3 {
        font-size: rem-calc(20);
    }

    .home-contentcell h1 {
        font-size: rem-calc(60);
    }
}

@media only screen and (max-width: 768px) {
    .home-contentcell .row {
        max-width: 600px;
    }

    .home-contentcell h3 {
        font-size: rem-calc(18);
    }

    .home-contentcell h1 {
        font-size: rem-calc(52);
    }

    .home-contentcell h1 br {
        display: none;
    }

    .home-social-list {
        bottom: 30px;
        left: 36px;
        font-size: rem-calc(21);

        &::before {
            height: 30px;
        }
    }

    .scrolldown .scroll-icon {
        top: 24px;
        right: 10px;
        font-size: rem-calc(12);
    }
}

@media only screen and (max-width: 600px) {
    #home {
        min-height: 702px;
    }

    .home-contentcell .row {
        padding-top: rem-calc(12);
        padding-bottom: rem-calc(12);
        max-width: 480px;
    }

    .home-contentcell h3 {
        font-size: rem-calc(17);
    }

    .home-contentcell h1 {
        font-size: rem-calc(48);
    }
}

@media only screen and (max-width: 500px) {
    .home-contentcell .row {
        max-width: 420px;
    }

    .home-contentcell h3 {
        font-size: rem-calc(15);
    }

    .home-contentcell h1 {
        font-size: rem-calc(42);
    }

    .home-social-list {
        bottom: 30px;
        left: 30px;
        font-size: rem-calc(18);
    }

    .home-social-list::before {
        height: 24px;
    }
}

@media only screen and (max-width: 400px) {
    #home {
        min-height: 654px;
    }

    .home-contentcell .row {
        padding-top: rem-calc(48);
        padding-bottom: rem-calc(108);
    }

    .home-contentcell h3 {
        font-size: rem-calc(14);
    }

    .home-contentcell h1 {
        font-size: rem-calc(36);
    }
}
