*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-weight: normal;
    line-height: 1;
    text-rendering: optimizeLegibility;
    font-size: rem-calc(16);
}

footer,
header,
main,
menu,
nav,
section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}