$breakpoints: (
    small: 0,
    medium: 600px,
    large: 900px,
    xlarge: 1200px,
    xxlarge: 1600px
);

.row {
    margin: 0 auto;
    max-width: rem-calc(1200);
    padding: rem-calc(0 2);
    position: relative;
    width: 100%;
}

@include grid-column-classes;
